[Unit]
Description=Bot Last Post
After=syslog.target
After=network.target

[Service]
WorkingDirectory=/home/BotLastPost/BotLastPost
User=BotLastPost
Group=BotLastPost
ExecStart=/home/BotLastPost/BotLastPost/venv/bin/python /home/BotLastPost/BotLastPost/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target